@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root{
    --primary:#ffdf80;
    --secondary-light:#5b9af5;
    --secondary:#136ef1;
    --light:#f1f1f1;
    --pure:#ffffff;
    --dark:#000;
    --heven:#f8f8f8;
    --ext:#fbfbfb;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section.main-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--heven);
    font-family: "Roboto", sans-serif;
}

.chat-container {
    width: 800px;
    max-width: 90%;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.5);
    background:var(--pure);
}

.brand {
    background: var(--light);
    padding: 1rem;
    display: flex;
    align-items: center;
}

.brand img {
    margin-right: 1rem;
}

.brand h2 {
    letter-spacing: 2px;
}

.brand span {
    color: var(--secondary);
}

.message-area {
    /* border: 1px solid firebrick; */
    height: 500px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.message {
    /* background: #136ef1; */
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 2.5rem;
    max-width: 300px;
    position: relative;
}
.incoming{
    background: var(--primary);
    color: var(--dark);

}
.outgoing{
    background: var(--secondary-light);
    color: var(--dark);
    margin-left: auto;
}
.message h3{
    position: absolute;
    top: -1.7rem;
    left: 0;
    color: #333;
    font-size: 1rem;
}
.text-area {
    display: flex;
    justify-content: space-between;
}
.text-area textarea{
    width: 90%;
    border: none;
    background: var(--ext);
    padding: .8rem;
    font-size: 16px;
    outline: none;
}
button{
    width: 9%;
     cursor: pointer;
    background: var(--secondary);
    color: var(--pure);
    outline: none;
    border: none;
}
button:hover{
    background: var(--secondary-light);
}